@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Error_Title"];
}

<h1 class="text-danger">@Localizer["Error_Title"]</h1>
<h2 class="text-danger">@Localizer["Error_Message"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentMode"]</h3>
<p>
    @Localizer["DevelopmentMode_Info1"]
</p>
<p>
    <strong>@Localizer["DevelopmentMode_Warning"]</strong>
    @Localizer["DevelopmentMode_Info2"]
</p>
